html {
    font-size: 20px;
}

.text-info {
    color: #1E90FF !important;
}

.bg-info {
    background-color: #1E90FF !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #1E90FF;
}

.navbar-nav .nav-item .nav-link.active {
    border-bottom: 3px solid #1E90FF;
}